@import "../../Config/colors.scss";

.Button {
  padding: 15px 20%;
  border-radius: 10px;
  margin: 20px 0;
  background-color: $primary;
  color: white;
  outline: none;
  border: none;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}
