@import "../../Config/colors.scss";

.ProfileSetupPage {
  height: 90vh;
  width: 100vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid $primary;
  overflow-y: scroll;

  h2 {
    color: $primary;
  }
}
