.BlogsPage {
  height: 90vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 10vh;
  text-align: center;

  .blog-cards {
    height: max-content;
    width: 98%;
    margin: 0 1%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
  }
}

//mobiles
@media only screen and (max-width: 800px) {
  .BlogsPage {
    .blog-cards {
      grid-template-columns: 1fr;
    }
  }
}

//tabs
@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .BlogsPage {
    .blog-cards {
      grid-template-columns: 1fr 1fr;
    }
  }
}
