@import "../../Config/colors.scss";

.LoginForm {
  height: 60%;
  width: 45%;
  background-color: #fff;
  margin: 25px 27.5%;
  border: 2px solid $primary;
  border-radius: 8px;

  .link {
    margin: 0 0 0 20px;
    color: $primary;
    border-bottom: 1px solid $primary;
    display: inline;
    cursor: pointer;
  }

  .content {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border-bottom: 2px solid $primary;

    .pass-con {
      width: 100%;
    }
  }

  .footer {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

//mobiles
@media only screen and (max-width: 800px) {
  .LoginForm {
    width: 96%;
    margin: 25px 2%;
  }
}

//tabs
@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .LoginForm {
    width: 70%;
    margin: 25px 15%;
  }
}
