@import "../../Config/colors.scss";

.Login_RegisterButton {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .line {
    height: 5vh;
    width: 2px;
    background-color: $primary;
  }
}

@media only screen and (max-width: 800px) {
  .Login_RegisterButton {
    width: 250px;
  }
}
