@import "../../Config/colors.scss";

.InputField {
  width: 80%;
  margin: 20px;

  .placeholder {
    font-size: 18px;
    color: grey;
    margin: 5px 0;
  }

  .field {
    width: 100%;
    padding: 12px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    border: 2px solid grey;
    font-size: 17px;

    &:focus {
      border: 2px solid $primary;
    }
  }
}
