@import "../../Config/colors.scss";

.LoginPage {
  height: 90vh;
  width: 100vw;
  margin-top: 10vh;
  background-color: rgb(241, 241, 241);
  overflow-y: scroll;
  overflow-x: hidden;

  .link {
    color: $primary;
    border-bottom: 1px solid $primary;
    display: inline;
    cursor: pointer;
    text-decoration: none;
    align-self: flex-start;
  }

  .form-content {
    width: 100%;
    height: max-content;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid $primary;

    .pass-con {
      width: 80%;
    }
  }

  .footer {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
