@import "../../../Config/colors.scss";

.MainSection {
  height: 90vh;
  width: 100vw;
  background-image: linear-gradient(
      129deg,
      rgba(51, 51, 133, 0.4),
      rgb(51, 51, 133)
    ),
    url("../../../Assets/Exams-bro.png");
  background-size: 100% 100%;
  background-position: 50% -38.5px, 50%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    color: white;
    text-align: center;

    .title {
      font-size: 55px;
    }
    .tagline {
      font-size: 20px;
      color: $light;
    }
  }
}
