.Sidebar {
  height: 90vh;
  width: 90vw;
  color: black;
  position: absolute;
  right: 0;
  top: 10vh;
  background-color: white;
  background-size: cover;
  background-position: center;
  animation: show 0.5s;
  z-index: 10;
  overflow: hidden;

  .options {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

.hide {
  animation: hide 1s;
}

@keyframes show {
  from {
    right: -100vw;
  }
  to {
    right: 0vw;
  }
}

@keyframes hide {
  from {
    right: 0vw;
  }
  to {
    right: -100vw;
  }
}
