.Sidebar {
  height: 90vh;
  width: 90vw;
  color: black;
  position: relative;
  right: -10vw;
  bottom: 0;
  background-color: #fff;
  animation: show 0.5s;
  z-index: 1;
  overflow: hidden;
}

.hide {
  animation: hide 1s;
}

@keyframes show {
  from {
    right: -100vw;
  }
  to {
    right: -10;
  }
}

@keyframes hide {
  from {
    right: -10;
  }
  to {
    right: -100vh;
  }
}
