@import "../../Config/colors.scss";

.ContactSection {
  height: 90vh;
  width: 100vw;
  background-color: $primary;
  z-index: 5 !important;
  overflow: hidden;
  color: white;
  text-align: center;

  p {
    color: $primarylight;
  }

  .content {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid $primarylight;

    .navigations {
      text-align: left;

      .navigation {
        transition: color 0.5s;
        cursor: pointer;

        &:hover {
          color: white;
        }
      }
    }

    .about {
      width: 30%;
      text-align: left;

      p {
        display: inline;
        color: $primarylight;
      }

      .learn-more {
        color: white;
        display: inline;
        cursor: pointer;
      }
    }

    .follow-us {
      width: 30%;
      height: max-content;

      .footer-link {
        font-size: 25px;
        text-decoration: none;
        border: none;
        color: $primarylight;
        cursor: pointer;
        margin: 8px 20px;
        transition: all 0.5s;

        &:hover {
          transform: scale(1.2);
          color: white;
        }
      }
    }
  }

  .footer {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    z-index: 1000;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .ContactSection {
    .content {
      flex-direction: column;

      .navigations,
      .about {
        width: 90%;
        margin: 0 5%;
      }

      .follow-us {
        width: 100%;

        h2 {
          margin: 3px;
        }

        .footer-link {
          margin: 2px 20px;
        }
      }
    }
  }
}
