.Hamburger {
  height: 30px;
  width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
  position: absolute;
  top: "50%";
  bottom: "50%";
  right: 1vw;
  transition: all 0.5s;
  display: none;
  pointer-events: none;
  cursor: pointer;

  .line {
    height: 2px;
    width: 100%;
    background-color: black;
    transition: all 0.5s;
  }
}

.cross {
  .l1 {
    transform: translateY(14px) rotate(-45deg);
  }
  .l2 {
    display: none;
  }
  .l3 {
    transform: translateY(-14px) rotate(45deg);
  }
}

@media only screen and (max-width: 800px) {
  .Hamburger {
    display: flex;
    pointer-events: all;
  }
}
