@import "../../Config/colors.scss";

.InstituteProfileSetup {
  height: max-content;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;

  .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .link {
      color: $primary;
      border-bottom: 1px solid $primary;
      display: inline;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 800px) {
  .InstituteProfileSetup {
    width: 98%;
  }
}

//tabs
@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .InstituteProfileSetup {
    width: 70%;
  }
}
